<table border="0" height="100%" cellspacing="2" cellpadding="2">
<TR>
<TD class="tabletop" align="center">
Radar
</TD>
</TR>
<TR>
<TD class="tabledetail" valign="bottom" align="center">
<img src="http://m.buienradar.nl" width="158" height="158" </img>
<img src="http://m.meteox.com" width="158" height="158" </img>
</TD>
</TR>
</table>