<html>
<head>
<META name="verify-v1" content="GYFz3wNRskJO2k9uhxRRYuYW+kH9UmPZj8lnMV1BzaY=">
<title>Welkom op de Welsum Weersite</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta HTTP-EQUIV="Refresh" CONTENT="300">
<LINK href="stylesheets/lelystyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<table class="pagetable" width="1000" border="2" cellspacing="0" cellpadding="2" align="center">
  <tr>
    <td class="topheader" colspan="2" align="left" valign="middle">
    &nbsp;Welkom op de Welsum Weersite
    </font>
    &nbsp;&nbsp;&nbsp;
    <font size=2px color="#000000">
    <a class="top" href="mailto:&#104;&#111;&#101;&#118;&#101;&#110;&#118;&#100;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?Subject=Comments Lelystad Weersite">Mail mij!</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    </font>
    </td>
  </tr>
  <tr>
    <td width="200" valign="top">
    <a class="menu" href="..">Home</a><br>
    <a class="menu" href="radarsatelliet">Radar en satelliet</a><br>
    <a class="menu" href="kortetermijn">Korte termijn</a><br>
    <a class="menu" href="langetermijn">Lange termijn</a><br>
    <a class="menu" href="graphs/index.html">Grafieken</a><br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <a href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=IOVERIJS45" target="_blank"><img src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=WeatherStationCount&weatherstationcount=IOVERIJS45" width="100" height="100" border=0></a>
    <br>
    <a href="http://www.findu.com/cgi-bin/wxpage.cgi?call=EW0898&units=metric" target="_blank"><img src="http://www.wxqa.com/archive/cwp_logo.gif" width="100" height="100" border="0"></a>
    </center>
    </td>
    <td width="800" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td valign="top">
        <table border="0">
        <tr>
        <td class="tabledetail">De actuele radar</td>
        </tr>
        <tr>
        <td><img src="http://m.buienradar.nl/">&nbsp;</img><img src="http://m.meteox.com/"></img>
        </td>
        </tr>
        <tr>
        <td><img src="http://www.blids.de/spion/bilder/aktkartebenelux.jpg">
        </td>
        </tr>
        </table>

        </td>
    </tr>
    </table>    
    </td>
  </tr>
  <tr align="center">
  <td class="reference" align="center"><img src="ruby.png" alt="Running on Ruby" width="40" height="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="rails.png" alt="Running on Rails" width="40" height="50"><br>
  In samenwerking met<br><a class="reference" href="http://www.tom.org" target="_blank">http://www.tom.org</a>
  </td>
    <td>
	<div class="doNotPrint">
	<script type="text/javascript"><!--
	 google_ad_client = "pub-5936540166567635";
        //weerinlelystad
          google_ad_slot = "4585179640";
        google_ad_width = 728;
         google_ad_height = 90;
        //--></script>
         <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
	<br class="doNotPrint" />
        </div>
    </td>
  </tr>
</table>
</body>
</html>
